.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-left: 80px;
  margin-top: 100px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 683px;
  display: flex;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 78px;
  right: 0px;
  margin right: auto;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.header__schedule {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header__hours {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.header__days {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: none;
}

.header__address {
  margin-top: auto;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-left: 971px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}