.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 100vh;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  display: flex;
  position: relative;
  margin: 30px 80px;
  justify-content: space-between;
  list-style-type: none;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__title {
  max-width: 709px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 683px;
  display: flex;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 80px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.header__schedule {
  display: flex;
}

.header__hours {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  display: flex;
  flex-direction: column;
  border: none;
}

.header__days {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: none;
}

.header__address {
  margin-top: auto;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  max-width: 240px;
}

.content {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  position: center;
  background-size: cover;
  min-width: 1100px;
  max-width: 1600px;
}

.recipes {
  color: #ffffff;
  margin-left: 80px;
  padding-top: 100px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  top: 100px;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-top: 24;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.recipes__video-item {
  border: none;
  gap: 40px;
  margin-bottom: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  gap: 40px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-items: flex-start;
  margin-bottom: 215px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;
}

.reservation__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0px;
}

.form-container {
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: black;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #838383;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  align-self: center;
  color: #ffffff;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  margin-bottom: 120px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #838383;
}

.form__checkbox-label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
